*{
    margin: 0;
    padding: 0;

}

.nav-section{
    background-color: #161A30;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    color: #F0ECE5;
}

.nav-head{
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 0.8mm;
    font-weight: bold;
    text-align: center;
}

.link-text{
    text-decoration: none;
    font-size: 20px;
    color: #F0ECE5;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    letter-spacing: 0.8mm;
    margin-left: 15px;
}


.profile-img{
    position: relative;
    height: 650px;
    width: 100%;
    object-fit: cover;
}

.profile-text{
    position: absolute;
    z-index: 1;
    color: #F0ECE5;
    font-family: 'Roboto Condensed', sans-serif;   
    letter-spacing: 1.2mm; 
    margin-top: 50px;
    margin-left: 100px;
}

.img-text{
    font-size: 100px;
}

.para-text{
    font-size: 20px;
}

.hero-section{
    padding: 50px;
    text-align: center;
    
    
}

.Hero-Profile-Img{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    object-fit: cover;
    margin-top: 60px;
}

.Hero-text-head{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    margin-top: 20px;
    color: #161A30;
}

.Hero-text-title{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    margin-top: 10px;
    color: #161A30;
}

.Hero-text-Para{
    font-size: 16px;
    font-family: sans-serif;
    margin-top: 40px;
    margin-bottom: 60px;
    color: #31304D90;
    line-height: 0.6cm;
}

#skill-section{
    height: 400px;
}

.skill-text-head{
    display: flex;
    justify-content: center;
}

.title{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    margin-top: 20px;
    color: #161A30;
    border-bottom: 2px solid #B6BBC440;
    border-radius: 80;
    padding: 10px;
    width: 80%;
}

.skill-grid{
    display: grid;
    grid-template-rows: 100px 80px;
    grid-template-columns: repeat(4,300px);
    margin-top: 40px;
}

.grid-flex{
    display: flex;
    justify-content: center;
}

.item{
    margin-left: 20px;
}

.inner-grid{
    display: grid;
    grid-template-rows: 80px;
    grid-template-columns: 80px 200px;
    
}

.grid-img{
    height: 60px;
    width: 60px;
}

.grid-img-2{
    height: 55px;
    width: 55px;
    margin-top: 3px;
}

.grid-img-3{
    height: 68px;
    width: 65px;
}

.grid-img-4{
    width: 65px;
    height: 62px;
}

.grid-img-6{
    width: 80px;
    height: 80px;
    margin-left: -8px;
    margin-top: -8px;
}

.grid-img-7{
    width: 65px;
    height: 65px;
}

.grid-img-8{
    margin-left: -4px;
}


.grid-para{
    font-family: sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #787676;
    margin-top: 12.2px;

}

#tool-section{
    height: 600px;
}

.tool-flex{
    display: flex;
    justify-content: center;
}

.tool-grid{
    display: grid;
    grid-template-rows: 100px 100px 100px 100px;
    grid-template-columns: repeat(4,300px) ;
    margin-top: 40px;
}

.grid-level-1{
    margin-left: 20px;
}

.grid-level-1{
    display: grid;
    grid-template-rows: 80px;
    grid-template-columns: 80px 200px;
}

.tool-img{
    height: 60px;
    width: 60px;
}

.tool-text
{
    font-family: sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #787676;
    margin-top: 12.2px;
}

.tool-grid-flex{
    display: flex;
    justify-content: center;
}

.tool-4{
    height: 58px;
}

.tool-6{
    height: 62px;
}

.tool-7{
    margin-top: 2.5px;
}

.tool-8, .tool-10, .tool-12{
    height: 65px;
    width: 65px;
}

.tool-13{
    height: 65px;
    width: 68px;
    margin-left: -4.8px;
}

.tool-11{
    height: 65px;
}

.tool-16{
    height: 75px;
    width: 65px;
    margin-top: -7.5px;
}


@media (max-width: 650px ){
    .nav-section{
        display: block;
        
        
    }

    .link-text{
        display: block;
        margin-top: 20px;
        text-align: left;
        margin-bottom: 20px;
    }

    .profile-img{
        width: 100%;
        height: 550px;
        object-fit: cover;
    }

    .img-text{
        font-size: 60px;
    }
    
    .para-text{
        font-size: 15px;
    }

    .profile-text{
        margin-left: 30px;
        margin-top: 80px;
    }

    .Hero-text-Para{
        text-align:center;
    }

    .Hero-text-head{
        margin-bottom: 30px;
    }

    .skill-grid{
        display: block;
        margin-left: 40px;
        
    }

    .title{
        font-size: 30px;
        width: 80%;
        
    }

    #skill-section{
        height: 850px;
        
    }

    .grid-flex{
        display: block;
        
    }

    .grid-img-2{
        margin-left: 4px;
    }
    
    .grid-img-4{
        margin-left: 1px;
    }

    .grid-img-5{
        margin-left: 4px;
    }

    .grid-img-8{
        margin-left: 4px;
    }

    .tool-grid{
        display: block;
        margin-left: 40px;
    }

    .tool-grid-flex{
        display: block;
    }
    
    .tool-text, .grid-para{
        font-weight: bold;
        font-size: 22px;
        margin-top: 18px;
    }

    #tool-section{
        height: 1500px;
    }
    

}

