*{
    margin: 0;
    padding: 0;

}

.nav-section{
    background-color: #161A30;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    color: #F0ECE5;
}

.nav-head{
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 0.8mm;
    font-weight: bold;
    text-align: center;
}

.link-text{
    text-decoration: none;
    font-size: 20px;
    color: #F0ECE5;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    letter-spacing: 0.8mm;
    margin-left: 15px;
}


.profile-img{
    position: relative;
    height: 650px;
    width: 100%;
    object-fit: cover;
}

.profile-text{
    position: absolute;
    z-index: 1;
    color: #F0ECE5;
    font-family: 'Roboto Condensed', sans-serif;   
    letter-spacing: 1.2mm; 
    margin-top: 50px;
    margin-left: 100px;
}

.img-text{
    font-size: 100px;
}

.para-text{
    font-size: 20px;
}






@media (max-width: 650px ){
    .nav-section{
        display: block;
        
        
    }

    .link-text{
        display: block;
        margin-top: 20px;
        text-align: left;
        margin-bottom: 20px;
    }

    .profile-img{
        width: 100%;
        height: 550px;
        object-fit: cover;
    }

    .img-text{
        font-size: 60px;
    }
    
    .para-text{
        font-size: 15px;
    }

    .profile-text{
        margin-left: 30px;
        margin-top: 80px;
    }
    

}

